In [126]:
import pandas as pd # type: ignore

# Read the CSV file
data = pd.read_csv('train.csv')

# Display the first few rows of the data
data.head()
data.columns = data.columns.str.replace("'", "", regex=False)

In [127]:
def extract_Location(data_set: pd.DataFrame) -> pd.DataFrame:
    data_set['Location'] = data_set['Location'].str.extract(r'([^-\s]+)')
    data_set['Location'].fillna('NA', inplace=True)
    return data_set
data= extract_Location(data)

/tmp/ipykernel_8029/2643891686.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_set['Location'].fillna('NA', inplace=True)

In [128]:
def clean_beach_resort(dataset):
    allowed_values = [ 'Nulo' ,'Not specified', '0' , '1']
    dataset['Beach_Resort'] = dataset['Beach_Resort'].apply(lambda x: 'NA' if pd.isna(x) or x in allowed_values else x)
    return dataset

In [129]:
data = clean_beach_resort(data)

In [130]:
def extract_date(data_set: pd.DataFrame) -> pd.DataFrame:
    #data_set['Publication_Date'] = data_set['Publication_Date'].str.extract(r'Publicado el (.+)')
    #data_set['Publication_Date'] = pd.to_datetime(data_set['Publication_Date'], errors='coerce')
    #data_set['Publication_Date'] = data_set['Publication_Date'].fillna(data_set['Publication_Date'].mode()[0])
    #data_set['Publication_Year'] = data_set['Publication_Date'].dt.year
    #data_set['Publication_Month'] = data_set['Publication_Date'].dt.month
    #data_set['Publication_Day'] = data_set['Publication_Date'].dt.day
    data_set.drop(columns='Publication_Date', inplace=True)
    return data_set

In [131]:
data = extract_date(data)

In [132]:
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

In [133]:
data.groupby('Total_Area_m2').size()

Total_Area_m2
0                 43
1                  2
100               31
1000             143
1002               5
                ...
99                 3
990                4
997                1
999                2
Not specified      1
Length: 1121, dtype: int64

In [134]:
for column in data.columns:
    print('--------------------------------')
    print(data.groupby(column).size())

--------------------------------
Id
0       1
1       1
2       1
3       1
4       1
       ..
6995    1
6996    1
6997    1
6998    1
6999    1
Length: 7000, dtype: int64
--------------------------------
Gas_Connection
0                3175
1                 484
Not specified    3341
dtype: int64
--------------------------------
Fireplace
0                3270
1                1319
Not specified    2411
dtype: int64
--------------------------------
Entrance_Hall
0                1864
1                2695
Not specified    2441
dtype: int64
--------------------------------
Kitchenette
0                6791
Not specified     209
dtype: int64
--------------------------------
Equipped
0                4161
1                 428
Not specified    2411
dtype: int64
--------------------------------
Garage_Type
Lineales          604
NoTiene           835
Not specified    2892
Paralelas        2505
Separadas         164
dtype: int64
--------------------------------
Furnished
0                3756
1                 833
Not specified    2411
dtype: int64
--------------------------------
Drainage
0                3293
1                1296
Not specified    2411
dtype: int64
--------------------------------
Telephone
0                2361
1                1298
Not specified    3341
dtype: int64
--------------------------------
Guest_Bathroom
0                3172
1                3619
Not specified     209
dtype: int64
--------------------------------
BBQ_Area
0                3749
1                 810
Not specified    2441
dtype: int64
--------------------------------
Living_Room
0                3876
1                2915
Not specified     209
dtype: int64
--------------------------------
Nearby_Parks
0                 678
1                2217
Not specified    4105
dtype: int64
--------------------------------
Solarium
0                4551
1                   8
Not specified    2441
dtype: int64
--------------------------------
Commercial_Use
No                408
Not specified    6206
Si                386
dtype: int64
--------------------------------
Province
Ancash           15
Apurimac          2
Arequipa         24
Ayacucho          2
Cajamarca        13
Callao          110
Cusco            20
Huanuco           8
Ica              56
Junin            17
LaLibertad       39
Lambayeque       77
Lima           6505
Loreto           11
MadreDeDios       2
Pasco             7
Piura            63
Puno              2
SanMartin         3
Tacna            10
Tumbes            9
Ucayali           5
dtype: int64
--------------------------------
Internal_Garden
0                4591
1                2200
Not specified     209
dtype: int64
--------------------------------
Garages
0     835
1     982
2    2361
3     992
4     998
5     830
6       1
8       1
dtype: int64
--------------------------------
Electricity
0                 867
1                2792
Not specified    3341
dtype: int64
--------------------------------
Patio
0                4481
1                2310
Not specified     209
dtype: int64
--------------------------------
Children_Playground
0                4251
1                 308
Not specified    2441
dtype: int64
--------------------------------
Type
Casa                           4958
Casa de Playa                   740
Casa de Playa en condominio     176
Casa de campo                   300
Casa en condominio              801
Casa en quinta                   24
Departamento                      1
dtype: int64
--------------------------------
Number_Bathrooms
1     158
2     720
3    1756
4    1977
5    2389
dtype: int64
--------------------------------
Green_Areas
0                3602
1                 957
Not specified    2441
dtype: int64
--------------------------------
Electric_Doorman
0                3867
1                 722
Not specified    2411
dtype: int64
--------------------------------
Construction_Area_m2
1       4
11      1
30      2
36      2
40      1
       ..
3500    2
3504    1
3640    1
5000    1
8000    1
Length: 688, dtype: int64
--------------------------------
Intercom
0                3598
1                 991
Not specified    2411
dtype: int64
--------------------------------
Near_Sea
0                2493
1                 402
Not specified    4105
dtype: int64
--------------------------------
Sauna
0                4423
1                 166
Not specified    2411
dtype: int64
--------------------------------
Cinema_Room
0                4540
1                  19
Not specified    2441
dtype: int64
--------------------------------
Cleaning_Service
0                3258
1                 401
Not specified    3341
dtype: int64
--------------------------------
Terrace
0                3120
1                3671
Not specified     209
dtype: int64
--------------------------------
Construction_Area
1.00 m2         4
100.00 m2      50
100.36 m2       1
1000.00 m2     25
10000.00 m2     2
               ..
975.00 m2       1
98.00 m2        7
99.00 m2        1
996.00 m2       1
997.00 m2       2
Length: 1003, dtype: int64
--------------------------------
Sports_Area
0                4003
1                 556
Not specified    2441
dtype: int64
--------------------------------
Security_System
0                2689
1                 970
Not specified    3341
dtype: int64
--------------------------------
Location
Abancay             2
AltoLaran           2
AltoSelvaAlegre     1
Amarilis            1
Ancon              14
                   ..
VillaRica           1
Yanahuara           2
Yarinacocha         2
Yurimaguas          1
Zorritos            5
Length: 155, dtype: int64
--------------------------------
Water_Heater
0                3193
1                1019
Not specified    2293
dtype: int64
--------------------------------
Professional_Use
No                298
Not specified    5815
Si                392
dtype: int64
--------------------------------
Match
0.0    6505
dtype: int64
--------------------------------
Club_House
0                4231
1                  32
Not specified    2242
dtype: int64
--------------------------------
Internal_Park
0                4147
1                 116
Not specified    2242
dtype: int64
--------------------------------
Laundry_Room
0                2498
1                3817
Not specified     190
dtype: int64
--------------------------------
Nearby_Schools
0                 728
1                1903
Not specified    3874
dtype: int64
--------------------------------
Balcony
0                5442
1                 873
Not specified     190
dtype: int64
--------------------------------
Attic
0                6122
1                 193
Not specified     190
dtype: int64
--------------------------------
Oceanfront
0                2372
1                 259
Not specified    3874
dtype: int64
--------------------------------
Security_Guard
0                1813
1                1530
Not specified    3162
dtype: int64
--------------------------------
Natural_Light
Luminoso          709
Muy luminoso     1595
Not specified    4198
Poco luminoso       3
dtype: int64
--------------------------------
Swimming_Pool
0                2022
1                2241
Not specified    2242
dtype: int64
--------------------------------
Electric_Fence
0                3854
1                 358
Not specified    2293
dtype: int64
--------------------------------
Advertiser
 AXIA Grupo Inmobiliario    2
 C&M Bienes RaÃ­ces         1
 Das Haus & asociados       7
 Gina Davila Angosto        2
 JAMESH INMOBILIARIA        5
                           ..
sheyla                      1
sofia huertas P.            3
vicnaga corredores          1
visionainmobiliaria         1
zavalapropiedades.com       1
Length: 646, dtype: int64
--------------------------------
Air_Conditioning
 ALFREDO                   1
 CECILIA                   2
 CHRISTIAN ALEXANDER       7
 INMOBILIARIA              8
 MARISA                    3
 REYNA                     1
 ZITA                     15
 espacios boutique         1
0                       3388
1                        786
COSENTINO DE HARTOG        3
Not specified           2287
dtype: int64
--------------------------------
Hall
0                2489
1                3821
Not specified     195
dtype: int64
--------------------------------
Nearby_Shopping_Centers
0                 713
1                1922
Not specified    3870
dtype: int64
--------------------------------
Kitchen
0                 372
1                5939
Not specified     194
dtype: int64
--------------------------------
Water
0                 749
1                2594
Not specified    3162
dtype: int64
--------------------------------
Basement
0                5964
1                 351
Not specified     190
dtype: int64
--------------------------------
Independent_Bathroom
0                6314
1                   1
Not specified     190
dtype: int64
--------------------------------
Walk_in_Closet
0                4789
1                1526
Not specified     190
dtype: int64
--------------------------------
Age
0.0      42
1.0    1387
2.0    1070
3.0    2411
4.0     605
5.0     314
6.0     171
7.0     164
8.0     150
9.0     190
dtype: int64
--------------------------------
Number_Floors
1.0     534
2.0    3691
3.0    2101
4.0     149
5.0      20
6.0       9
8.0       1
dtype: int64
--------------------------------
Daily_Dining_Room
0                2096
1                4177
2                  19
3                  20
4                   4
Not specified     189
dtype: int64
--------------------------------
Grill
0                2000
1                2217
Not specified    2288
dtype: int64
--------------------------------
Closet
0                5970
1                 340
Not specified     195
dtype: int64
--------------------------------
Internet
0                                                                2105
1                                                                1194
Not specified                                                    3160
Panamericana Sur Km 94.5 Asia                                       1
Panamericana Sur Km 94.5 Club Playa Las Arenas Asia                 1
Panamericana Sur Km 94.5 Club Playa Las Arenas Casa B_22 Asia       1
Publicado el 05.09.19                                               1
Publicado el 10.09.19                                               1
Publicado el 12.08.19                                               2
Publicado el 13.04.19                                               5
Publicado el 13.09.19                                               1
Publicado el 14.09.19                                               1
Publicado el 17.09.19                                               6
Publicado el 18.09.19                                               3
Publicado el 19.09.19                                               1
Publicado el 22.08.19                                               3
Publicado el 24.05.19                                               2
Publicado el 25.08.19                                              14
Publicado el 26.07.19                                               1
dtype: int64
--------------------------------
Sauna_Area
 Las Arenas         3
0                4191
1                  99
Not specified    2210
dtype: int64
--------------------------------
Bedrooms
 CaÃ±ete            3
0                  10
1                  31
2                 145
3                1536
4                2541
5+               2206
Not specified      31
dtype: int64
--------------------------------
Pets
 Lima       3
3           3
4          27
5+         11
No        223
Si       6236
dtype: int64
--------------------------------
Kitchen_with_Cabinets
0                2712
1                1465
No                  2
Not specified    2285
Si                 39
dtype: int64
--------------------------------
Service_Room
-12.74719117        1
-12.8149094         1
-12.8416779         1
0                1386
1                4919
Not specified     195
dtype: int64
--------------------------------
Garden
0                 906
1                3384
5+                  3
Not specified    2210
dtype: int64
--------------------------------
Storage_Room
0                4825
1                1455
No                  3
Not specified     220
dtype: int64
--------------------------------
Beach_Resort
3 Islas              4
Arica               11
Asia                 8
Asia Del Mar        10
Asia Del Sol        11
                    ..
Toyo Seco            4
Vichayito            7
Villa                2
Yacht Club Ancon     1
Zorritos             2
Length: 109, dtype: int64
--------------------------------
Cable
0                1997
1                1305
Cerro Azul          1
Curayacu            1
La Encontrada       1
Mejia               1
Not specified    3160
Nulo               37
dtype: int64
--------------------------------
Gym
0                3919
1                 374
Not specified    2210
dtype: int64
--------------------------------
Jacuzzi
-76.526003          1
-76.5406675         1
-76.62184309        1
0                3330
1                 854
Not specified    2316
dtype: int64
--------------------------------
Independent_Entrance
0                2624
1                   3
Las Arenas          3
Not specified    3873
dtype: int64
--------------------------------
Handicap_Access
0                2223
1                 408
Not specified    3872
dtype: int64
--------------------------------
Dining_Room
0                 557
1                5752
Not specified     194
dtype: int64
--------------------------------
Office
0                4223
1                2090
Not specified     190
dtype: int64
--------------------------------
Total_Area_m2
0                 43
1                  2
100               31
1000             143
1002               5
                ...
99                 3
990                4
997                1
999                2
Not specified      1
Length: 1121, dtype: int64
--------------------------------
Heating
0                4126
1                  51
100                 5
135                 1
160                 5
165                 1
180                 1
182                 1
192                 2
200                 3
218                 1
250                 2
2500                1
275                 1
286                 1
291                 1
300                 1
305                 1
325                 1
336                 1
360                 2
379                 2
400                 1
438                 1
500                 1
508                 1
650                 1
709                 1
90                  1
Not specified    2285
dtype: int64
--------------------------------
District
0                  35
1                   3
Abancay             2
AltoLaran           2
AltoSelvaAlegre     1
                   ..
VillaRica           1
Yanahuara           2
Yarinacocha         2
Yurimaguas          1
Zorritos            5
Length: 155, dtype: int64
--------------------------------
Daycare
0                      4233
1                        20
Asia                      1
Carabayllo                1
CerroAzul                 1
Comas                     1
LaMolina                 15
Mejia                     1
Miraflores                2
Nauta                     1
Not specified          2209
SanBartolo                1
SanBorja                  4
SanIsidro                 2
SanJuanDeLurigancho       1
SanMiguel                 2
SantiagoDeSurco           8
dtype: int64
--------------------------------
Property_Condition
0                  10
240                 2
245                 1
A Remodelar       341
Bueno            1074
Excelente         860
Muy bueno        1303
Not specified    2326
Regular            77
Remodelado        509
dtype: int64
--------------------------------
Internet_Room
0                4230
1                  23
A Remodelar         4
Bueno              12
Excelente           9
Muy bueno           9
Not specified    2213
Regular             1
Remodelado          2
dtype: int64
--------------------------------
Service_Bathroom
0                1400
1                4880
Asia                3
Not specified     220
dtype: int64
--------------------------------
Price
29000       1
31000       1
33696       1
35000       1
36989       1
           ..
9900205     1
10000000    1
12300000    1
13000000    1
18750000    1
Length: 864, dtype: int64

In [135]:
# Remove Construction_Area column, its redundant with construction area
data.drop(columns=['Construction_Area'], inplace=True)

In [136]:
data['Total_Area_m2'] = pd.to_numeric(data['Total_Area_m2'], errors='coerce')

In [137]:
dict_bedrooms = {
    '0': 0,
    '1': 1,
    '2': 2,
    '3': 3,
    '4': 4,
    '5+': 5
}
def preprocess_data(data_set):
    data_set['Bedrooms'] = data_set['Bedrooms'].apply(lambda x: dict_bedrooms.get(x, x))
    data_set['Bedrooms'].fillna(data_set['Bedrooms'].mode()[0], inplace=True)
    return data_set

In [138]:
data = preprocess_data(data)

/tmp/ipykernel_8029/1895079081.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_set['Bedrooms'].fillna(data_set['Bedrooms'].mode()[0], inplace=True)

In [139]:
numeric_columns = ['Number_Floors', 'Age']
def fill_numeric_column(column_name, dataset):
    dataset[column_name] = pd.to_numeric(dataset[column_name], errors='coerce')
    dataset[column_name].fillna(dataset[column_name].mode()[0], inplace=True)
    return dataset

In [140]:

for column in numeric_columns:
    data = fill_numeric_column(column, data)

/tmp/ipykernel_8029/1612466116.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column_name].fillna(dataset[column_name].mode()[0], inplace=True)

In [141]:
allowed_values = ['0', '1', 'Nulo', 'Not specified', 'Si', 'No']
def remove_trash_data(column,dataset):
    print('--------------------------------')
    print('Removing trash data from column:', column)
    print(dataset.groupby(column).size())
    dataset = dataset[(dataset[column].isin(allowed_values)) | (dataset[column].isnull())]
    print(dataset.groupby(column).size())
    return dataset

In [142]:
trash_columns = ['Internet', 'Sauna_Area', 'Air_Conditioning', 'Independent_Entrance', 'Jacuzzi', 'Service_Bathroom'
                 ,'Cable', 'Service_Room', 'Internet_Room', 'Daycare', 'Daily_Dining_Room', 'Heating', 'Pets']
for column in trash_columns:
    data = remove_trash_data(column, data)

--------------------------------
Removing trash data from column: Internet
Internet
0                                                                2105
1                                                                1194
Not specified                                                    3160
Panamericana Sur Km 94.5 Asia                                       1
Panamericana Sur Km 94.5 Club Playa Las Arenas Asia                 1
Panamericana Sur Km 94.5 Club Playa Las Arenas Casa B_22 Asia       1
Publicado el 05.09.19                                               1
Publicado el 10.09.19                                               1
Publicado el 12.08.19                                               2
Publicado el 13.04.19                                               5
Publicado el 13.09.19                                               1
Publicado el 14.09.19                                               1
Publicado el 17.09.19                                               6
Publicado el 18.09.19                                               3
Publicado el 19.09.19                                               1
Publicado el 22.08.19                                               3
Publicado el 24.05.19                                               2
Publicado el 25.08.19                                              14
Publicado el 26.07.19                                               1
dtype: int64
Internet
0                2105
1                1194
Not specified    3160
dtype: int64
--------------------------------
Removing trash data from column: Sauna_Area
Sauna_Area
0                4183
1                  67
Not specified    2209
dtype: int64
Sauna_Area
0                4183
1                  67
Not specified    2209
dtype: int64
--------------------------------
Removing trash data from column: Air_Conditioning
Air_Conditioning
0                3388
1                 786
Not specified    2287
dtype: int64
Air_Conditioning
0                3388
1                 786
Not specified    2287
dtype: int64
--------------------------------
Removing trash data from column: Independent_Entrance
Independent_Entrance
0                2592
Not specified    3867
dtype: int64
Independent_Entrance
0                2592
Not specified    3867
dtype: int64
--------------------------------
Removing trash data from column: Jacuzzi
Jacuzzi
0                3320
1                 854
Not specified    2285
dtype: int64
Jacuzzi
0                3320
1                 854
Not specified    2285
dtype: int64
--------------------------------
Removing trash data from column: Service_Bathroom
Service_Bathroom
0                1390
1                4880
Not specified     189
dtype: int64
Service_Bathroom
0                1390
1                4880
Not specified     189
dtype: int64
--------------------------------
Removing trash data from column: Cable
Cable
0                1997
1                1302
Not specified    3160
dtype: int64
Cable
0                1997
1                1302
Not specified    3160
dtype: int64
--------------------------------
Removing trash data from column: Service_Room
Service_Room
0                1381
1                4889
Not specified     189
dtype: int64
Service_Room
0                1381
1                4889
Not specified     189
dtype: int64
--------------------------------
Removing trash data from column: Internet_Room
Internet_Room
0                4227
1                  23
Not specified    2209
dtype: int64
Internet_Room
0                4227
1                  23
Not specified    2209
dtype: int64
--------------------------------
Removing trash data from column: Daycare
Daycare
0                4230
1                  20
Not specified    2209
dtype: int64
Daycare
0                4230
1                  20
Not specified    2209
dtype: int64
--------------------------------
Removing trash data from column: Daily_Dining_Room
Daily_Dining_Room
0                2096
1                4176
Not specified     189
dtype: int64
Daily_Dining_Room
0                2096
1                4176
Not specified     189
dtype: int64
--------------------------------
Removing trash data from column: Heating
Heating
0                4126
1                  48
Not specified    2285
dtype: int64
Heating
0                4126
1                  48
Not specified    2285
dtype: int64
--------------------------------
Removing trash data from column: Pets
Pets
No     223
Si    6236
dtype: int64
Pets
No     223
Si    6236
dtype: int64

In [143]:
data = data[data['Age']!= 'Not specified']
data['Age'] = pd.to_numeric(data['Age'], errors='coerce')

In [144]:
import numpy as np
def replace_not_specified_with_mode(column, dataset):
    dataset[column] = dataset[column].apply(lambda x: np.nan if (x == 'Not specified' or x == 'Nulo') else
                                      '1' if (x == '1' or x == 'Si')
                                      else '0' if (x == '0' or x == 'No') else x)
    #dataset[column+'_missing'] = dataset[column].isna().astype(int)
    #dataset[column].fillna(None, inplace=True)
    dataset[column].fillna('NA', inplace=True)
    dataset[column].replace('NA', None, inplace=True)
    dataset[column] = dataset[column].astype('category')
    print(dataset.groupby(column).size())
    return dataset

In [145]:
# Posibles columnas repetidas en el dataset
# Sauna, Sauna_area,
# Oceanfront, Near_Sea
# Kitchenette, Kitchen_with_Cabinets


columns_replace_with_mode = ['Gas_Connection', 'Fireplace', 'Entrance_Hall', 'Kitchenette',
           'Equipped', 'Furnished', 'Drainage', 'Telephone', 'Guest_Bathroom', 'BBQ_Area',
           'Living_Room', 'Nearby_Parks', 'Solarium', 'Commercial_Use', 'Internal_Garden',
           'Electricity', 'Patio', 'Children_Playground', 'Green_Areas', 'Electric_Doorman',
           'Intercom', 'Near_Sea', 'Sauna', 'Cinema_Room', 'Cleaning_Service', 'Terrace',
           'Sports_Area', 'Security_System', 'Water_Heater', 'Professional_Use', 'Club_House',
           'Internal_Park', 'Laundry_Room', 'Nearby_Schools', 'Balcony', 'Attic', 'Oceanfront', 'Security_Guard',
           'Swimming_Pool', 'Electric_Fence', 'Air_Conditioning', 'Hall', 'Nearby_Shopping_Centers', 'Kitchen',
           'Water', 'Basement', 'Independent_Bathroom', 'Walk_in_Closet', 'Grill', 'Closet',
           'Internet', 'Sauna_Area', 'Kitchen_with_Cabinets', 'Gym', 'Handicap_Access', 'Dining_Room',
           'Office', 'Service_Bathroom', 'Storage_Room', 'Cable', 'Jacuzzi', 'Independent_Entrance', 'Service_Room',
           'Internet_Room', 'Daycare', 'Daily_Dining_Room', 'Heating', 'Match', 'Pets', 'Garden']
for column in columns_replace_with_mode:
    print(f'Processing column: {column}')
    data = replace_not_specified_with_mode(column, data)

Processing column: Gas_Connection
Gas_Connection
0    3139
1     477
dtype: int64
Processing column: Fireplace
Fireplace
0    3240
1    1311
dtype: int64
Processing column: Entrance_Hall
Entrance_Hall
0    1856
1    2690
dtype: int64
Processing column: Kitchenette
Kitchenette
0    6748
dtype: int64
Processing column: Equipped
Equipped
0    4134
1     417
dtype: int64
Processing column: Furnished
Furnished
0    3738
1     813
dtype: int64
Processing column: Drainage
Drainage
0    3277
1    1274
dtype: int64
Processing column: Telephone
Telephone
0    2352
1    1264
dtype: int64
Processing column: Guest_Bathroom
Guest_Bathroom
0    3167
1    3581
dtype: int64
Processing column: BBQ_Area
BBQ_Area
0    3745
1     801
dtype: int64
Processing column: Living_Room
Living_Room
0    3834
1    2914
dtype: int64
Processing column: Nearby_Parks
Nearby_Parks
0     672
1    2184
dtype: int64
Processing column: Solarium
Solarium
0    4538
1       8
dtype: int64
Processing column: Commercial_Use
Commercial_Use
0    383
1    384
dtype: int64
Processing column: Internal_Garden
Internal_Garden
0    4551
1    2197
dtype: int64
Processing column: Electricity
Electricity
0     865
1    2751
dtype: int64
Processing column: Patio
Patio
0    4441
1    2307
dtype: int64
Processing column: Children_Playground
Children_Playground
0    4242
1     304
dtype: int64
Processing column: Green_Areas
Green_Areas
0    3595
1     951
dtype: int64
Processing column: Electric_Doorman
Electric_Doorman
0    3850
1     701
dtype: int64
Processing column: Intercom
Intercom
0    3583
1     968
dtype: int64
Processing column: Near_Sea
Near_Sea
0    2464
1     392
dtype: int64
Processing column: Sauna
Sauna
0    4388
1     163
dtype: int64
Processing column: Cinema_Room
Cinema_Room
0    4528
1      18
dtype: int64
Processing column: Cleaning_Service
Cleaning_Service
0    3225
1     391
dtype: int64
Processing column: Terrace

/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())

Terrace
0    3081
1    3667
dtype: int64
Processing column: Sports_Area
Sports_Area
0    3994
1     552
dtype: int64
Processing column: Security_System
Security_System
0    2669
1     947
dtype: int64
Processing column: Water_Heater
Water_Heater
0    3182
1     992
dtype: int64
Processing column: Professional_Use
Professional_Use
0    273
1    386
dtype: int64
Processing column: Club_House
Club_House
0    4218
1      32
dtype: int64
Processing column: Internal_Park
Internal_Park
0    4134
1     116
dtype: int64
Processing column: Laundry_Room
Laundry_Room
0    2458
1    3814
dtype: int64
Processing column: Nearby_Schools
Nearby_Schools
0     718
1    1874
dtype: int64
Processing column: Balcony
Balcony
0    5413
1     859
dtype: int64
Processing column: Attic
Attic
0    6084
1     188
dtype: int64
Processing column: Oceanfront
Oceanfront
0    2337
1     255
dtype: int64
Processing column: Security_Guard
Security_Guard
0    1795
1    1505
dtype: int64
Processing column: Swimming_Pool
Swimming_Pool
0    2013
1    2237
dtype: int64
Processing column: Electric_Fence
Electric_Fence
0    3829
1     345
dtype: int64
Processing column: Air_Conditioning
Air_Conditioning
0    3388
1     786
dtype: int64
Processing column: Hall
Hall
0    2453
1    3819
dtype: int64
Processing column: Nearby_Shopping_Centers
Nearby_Shopping_Centers
0     672
1    1920
dtype: int64
Processing column: Kitchen
Kitchen
0     364
1    5908
dtype: int64
Processing column: Water
Water
0     748
1    2552
dtype: int64
Processing column: Basement
Basement
0    5962
1     310
dtype: int64
Processing column: Independent_Bathroom
Independent_Bathroom
0    6272
dtype: int64
Processing column: Walk_in_Closet
Walk_in_Closet
0    4746
1    1526
dtype: int64
Processing column: Grill
Grill
0    1987
1    2187
dtype: int64
Processing column: Closet
Closet
0    5946
1     326
dtype: int64
Processing column: Internet
Internet
0    2105
1    1194
dtype: int64
Processing column: Sauna_Area
Sauna_Area
0    4183
1      67
dtype: int64
Processing column: Kitchen_with_Cabinets
Kitchen_with_Cabinets
0    2712
1    1462
dtype: int64
Processing column: Gym
Gym
0    3911
1     339
dtype: int64
Processing column: Handicap_Access

/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)

Handicap_Access
0    2187
1     405
dtype: int64
Processing column: Dining_Room
Dining_Room
0     531
1    5739
dtype: int64
Processing column: Office
Office
0    4217
1    2053
dtype: int64
Processing column: Service_Bathroom
Service_Bathroom
0    1390
1    4880
dtype: int64
Processing column: Storage_Room
Storage_Room
0    4821
1    1449
dtype: int64
Processing column: Cable
Cable
0    1997
1    1302
dtype: int64
Processing column: Jacuzzi
Jacuzzi
0    3320
1     854
dtype: int64
Processing column: Independent_Entrance
Independent_Entrance
0    2592
dtype: int64
Processing column: Service_Room
Service_Room
0    1381
1    4889
dtype: int64
Processing column: Internet_Room
Internet_Room
0    4227
1      23
dtype: int64
Processing column: Daycare
Daycare
0    4230
1      20
dtype: int64
Processing column: Daily_Dining_Room
Daily_Dining_Room
0    2096
1    4176
dtype: int64
Processing column: Heating
Heating
0    4126
1      48
dtype: int64
Processing column: Match
Match
0.0    6461
dtype: int64
Processing column: Pets
Pets
0     223
1    6236
dtype: int64
Processing column: Garden
Garden
0     896
1    3354
dtype: int64

/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NA' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipykernel_8029/4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipykernel_8029/4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())

In [146]:
def clean_categorical_columns(dataset):
    categorical_cols = ['Garage_Type', 'Province', 'Type', 'Location', 'Natural_Light', 'Advertiser', 'Bedrooms', 'Pets', 'Garden', 'Beach_Resort', 'District', 'Property_Condition']
    for column in categorical_cols:
        print(f'Processing categorical column: {column}')
        dataset[column] = dataset[column].astype('category')
        #dataset[column].cat.add_categories(None)
        dataset[column] = dataset[column].replace('NA', None)
        dataset[column] = dataset[column].replace('Not specified', None)

        #dataset[column] = dataset[column].fillna(dataset[column].mode()[0])
        #dataset[column] = dataset[column].fillna(None)

    return dataset

In [147]:
data = clean_categorical_columns(data)

/tmp/ipykernel_8029/2360821928.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('Not specified', None)
/tmp/ipykernel_8029/2360821928.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('NA', None)

Processing categorical column: Garage_Type
Processing categorical column: Province
Processing categorical column: Type
Processing categorical column: Location
Processing categorical column: Natural_Light
Processing categorical column: Advertiser
Processing categorical column: Bedrooms
Processing categorical column: Pets
Processing categorical column: Garden
Processing categorical column: Beach_Resort
Processing categorical column: District
Processing categorical column: Property_Condition

/tmp/ipykernel_8029/2360821928.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('Not specified', None)
/tmp/ipykernel_8029/2360821928.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('NA', None)
/tmp/ipykernel_8029/2360821928.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('Not specified', None)

In [148]:
# Drop unique columns
for column in data.columns:
    if len(data[column].unique()) == len(data):
        print(f'Dropping unique column: {column}')
        data.drop(columns=[column], inplace=True)
    elif len(data[column].unique()) == 1:
        print(f'Dropping column with one value: {column}')
        data.drop(columns=[column], inplace=True)

Dropping unique column: Id

In [149]:
columns_delete = [ 'Advertiser', 'Cleaning_Service', 'Telephone', 'Internet_Room', 'Service_Bathroom', 'Service_Room',
                    'Handicap_Access', 'Office', 'Club_House', 'Kitchen', 'Air_Conditioning', 'Location', 'Match']

In [150]:
# Identify categorical and numerical columns
columns_object =data.select_dtypes(include=['object']).columns.tolist()
print(columns_object)
data.select_dtypes(include=['int64', 'float64', 'bool']).columns.tolist()
#data.drop(columns=columns_object, inplace=True)

[]

['Garages',
 'Number_Bathrooms',
 'Construction_Area_m2',
 'Age',
 'Number_Floors',
 'Total_Area_m2',
 'Price']

In [151]:
data.select_dtypes(include=['int64', 'float64']).columns.tolist()

['Garages',
 'Number_Bathrooms',
 'Construction_Area_m2',
 'Age',
 'Number_Floors',
 'Total_Area_m2',
 'Price']

In [152]:
import numpy as np
def replace_not_specified_with_mediam(column, dataset):
    dataset[column] = dataset[column].apply(lambda x: np.nan if (x == 'Not specified' or x == 'Nulo') else x)
    dataset[column].fillna(dataset[column].median(), inplace=True)
    return dataset

In [153]:
data = replace_not_specified_with_mediam('Total_Area_m2', data)
#data.drop(columns='Beach_Resort', inplace=True)
data.drop_duplicates(inplace=True)

/tmp/ipykernel_8029/4007228366.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].median(), inplace=True)

In [154]:
data.drop(columns=columns_delete, inplace=True)

In [155]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder, FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import numpy as np
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dense, Dropout, BatchNormalization
from tensorflow.keras.callbacks import EarlyStopping

# Select features and target
X = data.drop(columns=['Price'])
y = data['Price']
y = np.log(y)  # Log-transform the target variable for better performance

# Identify categorical and numerical columns
categorical_cols = X.select_dtypes(include=['category']).columns.tolist()
numerical_cols = ['Garages', 'Number_Bathrooms', 'Age', 'Number_Floors']
log_cols = ['Construction_Area_m2', 'Total_Area_m2']
boolean_cols = X.select_dtypes(include=['bool']).columns.tolist()

# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('bool', OneHotEncoder() ,boolean_cols),
        ('num', StandardScaler(), numerical_cols),
        ('log', FunctionTransformer(np.log), log_cols),
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_cols)
    ]
)

# Split data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Fit and transform data
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

# Build neural network
model = tf.keras.Sequential([
    tf.keras.layers.InputLayer(input_shape=(X_train_processed.shape[1],)),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dense(1)
])

early_stop = EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)


optimizer = Adam(clipvalue=0.001)  # Clip gradients to a value between -1 and 1
model.compile(optimizer=optimizer, loss='mse', metrics=['mae'])

# Train model
history = model.fit(X_train_processed, y_train, epochs=150, batch_size=64, validation_split=0.1, callbacks=[early_stop], verbose=1)

# Evaluate model
loss, mae = model.evaluate(X_test_processed, y_test, verbose=0)
print(f"Test MAE: {mae:.2f}")

/home/noah/Projects/PUCP_machine-learning_garment-productivity/myenv/lib/python3.13/site-packages/keras/src/layers/core/input_layer.py:27: UserWarning: Argument `input_shape` is deprecated. Use `shape` instead.
  warnings.warn(

Epoch 1/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 3s 13ms/step - loss: 20.6322 - mae: 2.6679 - val_loss: 0.4707 - val_mae: 0.5645
Epoch 2/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - loss: 0.2534 - mae: 0.3838 - val_loss: 0.2303 - val_mae: 0.3581
Epoch 3/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1949 - mae: 0.3352 - val_loss: 0.2309 - val_mae: 0.3666
Epoch 4/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.1936 - mae: 0.3314 - val_loss: 0.1821 - val_mae: 0.3101
Epoch 5/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1731 - mae: 0.3124 - val_loss: 0.4050 - val_mae: 0.5415
Epoch 6/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2368 - mae: 0.3786 - val_loss: 0.2691 - val_mae: 0.3888
Epoch 7/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1669 - mae: 0.3080 - val_loss: 0.1759 - val_mae: 0.3033
Epoch 8/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 0.2023 - mae: 0.3443 - val_loss: 0.2704 - val_mae: 0.4128
Epoch 9/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1729 - mae: 0.3137 - val_loss: 0.1858 - val_mae: 0.3127
Epoch 10/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1688 - mae: 0.3133 - val_loss: 0.1836 - val_mae: 0.3159
Epoch 11/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2211 - mae: 0.3689 - val_loss: 0.1967 - val_mae: 0.3372
Epoch 12/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1579 - mae: 0.3006 - val_loss: 0.1705 - val_mae: 0.2956
Epoch 13/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.2810 - mae: 0.4134 - val_loss: 0.1889 - val_mae: 0.3304
Epoch 14/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1666 - mae: 0.3136 - val_loss: 0.1860 - val_mae: 0.3132
Epoch 15/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.2098 - mae: 0.3613 - val_loss: 0.4073 - val_mae: 0.5460
Epoch 16/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.2361 - mae: 0.3939 - val_loss: 0.3740 - val_mae: 0.5112
Epoch 17/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.2021 - mae: 0.3537 - val_loss: 0.2576 - val_mae: 0.3925
Epoch 18/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step - loss: 0.1707 - mae: 0.3162 - val_loss: 0.2011 - val_mae: 0.3335
Epoch 19/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.1513 - mae: 0.3000 - val_loss: 0.2758 - val_mae: 0.4201
Epoch 20/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1539 - mae: 0.3009 - val_loss: 0.1687 - val_mae: 0.3045
Epoch 21/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.1499 - mae: 0.2951 - val_loss: 0.2137 - val_mae: 0.3598
Epoch 22/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - loss: 0.1364 - mae: 0.2789 - val_loss: 0.1969 - val_mae: 0.3300
Epoch 23/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1377 - mae: 0.2772 - val_loss: 0.2385 - val_mae: 0.3814
Epoch 24/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1490 - mae: 0.2980 - val_loss: 0.1811 - val_mae: 0.3174
Epoch 25/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1550 - mae: 0.2973 - val_loss: 0.1686 - val_mae: 0.2986
Epoch 26/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1368 - mae: 0.2811 - val_loss: 0.2876 - val_mae: 0.4137
Epoch 27/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - loss: 0.1511 - mae: 0.2960 - val_loss: 0.6414 - val_mae: 0.7080
Epoch 28/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.4160 - mae: 0.5484 - val_loss: 0.3215 - val_mae: 0.4704
Epoch 29/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.3879 - mae: 0.5372 - val_loss: 0.2329 - val_mae: 0.3656
Epoch 30/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1480 - mae: 0.2974 - val_loss: 0.2585 - val_mae: 0.4089
Epoch 31/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.2058 - mae: 0.3572 - val_loss: 0.2531 - val_mae: 0.3899
Epoch 32/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - loss: 0.2148 - mae: 0.3786 - val_loss: 0.4498 - val_mae: 0.5708
Epoch 33/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - loss: 0.2177 - mae: 0.3823 - val_loss: 0.3771 - val_mae: 0.5137
Epoch 34/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - loss: 0.1522 - mae: 0.3002 - val_loss: 0.1769 - val_mae: 0.3120
Epoch 35/150
69/69 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - loss: 0.1540 - mae: 0.3082 - val_loss: 0.4316 - val_mae: 0.5638
Test MAE: 0.30

In [156]:
'''
import tensorflow as tf
from tensorflow.keras import layers, models
from xgboost import XGBRegressor

input_dim = X_train_processed.shape[1]
encoding_dim = 20  # compress to 4 features

# Build autoencoder model
input_layer = layers.Input(shape=(input_dim,))
encoded = layers.Dense(8, activation='relu')(input_layer)
encoded = layers.Dense(encoding_dim, activation='relu')(encoded)  # bottleneck

decoded = layers.Dense(8, activation='relu')(encoded)
decoded = layers.Dense(input_dim, activation='linear')(decoded)

autoencoder = models.Model(inputs=input_layer, outputs=decoded)

# Compile and train
autoencoder.compile(optimizer='adam', loss='mse')
autoencoder.fit(X_train_processed, X_train_processed, epochs=100, batch_size=32, shuffle=True, validation_data=(X_test_processed, X_test_processed), verbose=0)
'''

"\nimport tensorflow as tf\nfrom tensorflow.keras import layers, models\nfrom xgboost import XGBRegressor\n\ninput_dim = X_train_processed.shape[1]\nencoding_dim = 20  # compress to 4 features\n\n# Build autoencoder model\ninput_layer = layers.Input(shape=(input_dim,))\nencoded = layers.Dense(8, activation='relu')(input_layer)\nencoded = layers.Dense(encoding_dim, activation='relu')(encoded)  # bottleneck\n\ndecoded = layers.Dense(8, activation='relu')(encoded)\ndecoded = layers.Dense(input_dim, activation='linear')(decoded)\n\nautoencoder = models.Model(inputs=input_layer, outputs=decoded)\n\n# Compile and train\nautoencoder.compile(optimizer='adam', loss='mse')\nautoencoder.fit(X_train_processed, X_train_processed, epochs=100, batch_size=32, shuffle=True, validation_data=(X_test_processed, X_test_processed), verbose=0)\n"

In [157]:
'''
encoder = models.Model(inputs=input_layer, outputs=encoded)

# Encode training and test data
X_train_encoded = encoder.predict(X_train_processed)
X_test_encoded = encoder.predict(X_test_processed)
'''

'\nencoder = models.Model(inputs=input_layer, outputs=encoded)\n\n# Encode training and test data\nX_train_encoded = encoder.predict(X_train_processed)\nX_test_encoded = encoder.predict(X_test_processed)\n'

In [158]:

from sklearn.neural_network import MLPRegressor
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error
# Create the model
mlp = MLPRegressor(hidden_layer_sizes=(50, 30), max_iter=10000, random_state=1)

# Train the model
mlp.fit(X_train_processed, y_train)
y_pred = mlp.predict(X_test_processed).flatten()

# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")

MAE: 0.31784626381552444
R2 score on test set: 0.7282

In [159]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import r2_score
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
import seaborn as sns

# 7. Train Random Forest Regressor
randomForest = RandomForestRegressor(n_estimators=500, random_state=42, max_depth=10,)
randomForest.fit(X_train_processed, y_train)

# 8. Predict and evaluate
y_pred = randomForest.predict(X_test_processed)
# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")

MAE: 0.2881817018281523
R2 score on test set: 0.7893

In [160]:
import numpy as np
from sklearn.linear_model import Lasso

# Create Lasso model with regularization strength (alpha)
lasso = Lasso(alpha=0.1)

# Fit to training data
lasso.fit(X_train_processed, y_train)

y_pred = lasso.predict(X_test_processed).flatten()

# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")

MAE: 0.4154630389227033
R2 score on test set: 0.5901

In [161]:
import numpy as np
import pandas as pd
from xgboost import XGBRegressor

xgb_model = XGBRegressor(
    n_estimators=500,
    learning_rate=0.1,
    max_depth=10,
    random_state=151
)

# Train the model
xgb_model.fit(X_train_processed, y_train)

y_pred = xgb_model.predict(X_test_processed).flatten()

# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")

MAE: 0.25557489190396715
R2 score on test set: 0.8265

In [ ]:

import xgboost as xgb
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

# Crear el clasificador XGBoost
xgb_model = xgb.XGBRegressor(objective="reg:squarederror")
param_grid = {
    'n_estimators': [50, 100, 200, 300, 400, 500],
    'max_depth': [3, 6, 10],
    'learning_rate': [0.01, 0.05, 0.1],
    'subsample': [0.7, 0.8, 1.0],
    'colsample_bytree': [0.7, 0.8, 1.0],
    'min_child_weight': [1, 5, 10]
}
# Realizar GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, n_jobs=-1, scoring='neg_mean_squared_error', verbose=1)

# Ajustar el modelo
grid_search.fit(X_train_processed, y_train)

# Obtener los mejores parámetros
best_params = grid_search.best_params_
print(f"Mejores parámetros: {best_params}")
# Predecir con el mejor modelo
best_model = grid_search.best_estimator_

# Predicciones
y_pred = best_model.predict(X_test_processed)

# Evaluar el rendimiento
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")

Fitting 3 folds for each of 1458 candidates, totalling 4374 fits

In [ ]:
'''
import numpy as np
import pandas as pd
from xgboost import XGBRegressor

xgb_model_best = XGBRegressor(
    colsample_bytree=0.7,
    learning_rate=0.1,
    max_depth=6,
    min_child_weight=1,
    n_estimators=500,
    subsample=1.0
)

# Train the model
xgb_model_best.fit(X_train_processed, y_train)

y_pred = xgb_model_best.predict(X_test_processed).flatten()

# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")
'''

MAE: 0.24579752737948088
R2 score on test set: 0.8406

In [ ]:
from sklearn.metrics import r2_score

# Predict on test set
y_pred = model.predict(X_test_processed).flatten()

# Calculate R2 score
r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
print(f"MAE: {mae}")
print(f"R2 score on test set: {r2:.4f}")

65/65 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step
MAE: 0.27692590526046346
R2 score on test set: 0.7970

In [ ]:
test_data = pd.read_csv('/content/sample_data/test.csv')
test_data.columns = test_data.columns.str.replace("'", "", regex=False)
test_data.head()

,Id,Gas_Connection,Fireplace,Entrance_Hall,Kitchenette,Equipped,Garage_Type,Furnished,Drainage,Telephone,...,Handicap_Access,Dining_Room,Office,Total_Area_m2,Heating,District,Daycare,Property_Condition,Internet_Room,Service_Bathroom
0,0,Not specified,0,1,0,0,Paralelas,0,0,Not specified,...,Not specified,1,1,340,0,LaMolina,0,Not specified,0,1
1,1,Not specified,Not specified,1,0,Not specified,Lineales,Not specified,Not specified,Not specified,...,Not specified,1,0,1138,Not specified,LaMolina,0,Bueno,0,1
2,2,Not specified,0,0,0,0,Paralelas,0,0,Not specified,...,Not specified,0,1,1353,0,LaMolina,0,Bueno,0,1
3,3,0,1,0,0,0,Paralelas,0,0,0,...,Not specified,1,0,230,0,SantiagoDeSurco,0,Muy bueno,0,1
4,4,0,Not specified,Not specified,0,Not specified,Not specified,Not specified,Not specified,0,...,Not specified,1,0,305,Not specified,LaMolina,Not specified,Not specified,Not specified,1

In [ ]:
test_data

,Id,Gas_Connection,Fireplace,Entrance_Hall,Kitchenette,Equipped,Garage_Type,Furnished,Drainage,Telephone,...,Handicap_Access,Dining_Room,Office,Total_Area_m2,Heating,District,Daycare,Property_Condition,Internet_Room,Service_Bathroom
0,0,Not specified,0,1,0,0,Paralelas,0,0,Not specified,...,Not specified,1,1,340,0,LaMolina,0,Not specified,0,1
1,1,Not specified,Not specified,1,0,Not specified,Lineales,Not specified,Not specified,Not specified,...,Not specified,1,0,1138,Not specified,LaMolina,0,Bueno,0,1
2,2,Not specified,0,0,0,0,Paralelas,0,0,Not specified,...,Not specified,0,1,1353,0,LaMolina,0,Bueno,0,1
3,3,0,1,0,0,0,Paralelas,0,0,0,...,Not specified,1,0,230,0,SantiagoDeSurco,0,Muy bueno,0,1
4,4,0,Not specified,Not specified,0,Not specified,Not specified,Not specified,Not specified,0,...,Not specified,1,0,305,Not specified,LaMolina,Not specified,Not specified,Not specified,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,652,Not specified,Not specified,1,0,Not specified,Paralelas,Not specified,Not specified,Not specified,...,Not specified,1,1,600,Not specified,LaMolina,0,Not specified,0,1
653,653,1,0,1,0,1,Separadas,1,0,0,...,0,1,0,204,0,Asia,0,Excelente,0,1
654,654,0,Not specified,1,0,Not specified,Paralelas,Not specified,Not specified,0,...,Not specified,1,1,270,Not specified,LaMolina,0,Not specified,0,1
655,655,0,0,0,0,0,Paralelas,0,0,0,...,Not specified,1,0,160,0,Asia,0,Not specified,0,1
656,656,1,Not specified,Not specified,Not specified,Not specified,Not specified,Not specified,Not specified,1,...,0,Not specified,Not specified,120,Not specified,Carabayllo,Not specified,Bueno,Not specified,Not specified

In [ ]:
# Remove Construction_Area column, its redundant with construction area
#test_data.drop(columns=['Beach:Resort'], inplace=True)
test_data = extract_date(test_data)
test_data= extract_Location(test_data)
test_data = clean_beach_resort(test_data)
test_data.drop(columns=['Construction_Area'], inplace=True)
test_data['Total_Area_m2'] = pd.to_numeric(test_data['Total_Area_m2'], errors='coerce')
test_data = replace_not_specified_with_mediam('Total_Area_m2', test_data)
test_data = preprocess_data(test_data)
for column in numeric_columns:
    test_data = fill_numeric_column(column, test_data)

test_data['Age'] = pd.to_numeric(test_data['Age'], errors='coerce')

for column in trash_columns:
    test_data = remove_trash_data(column, test_data)
for column in columns_replace_with_mode:
    print(f'Processing column: {column}')
    test_data = replace_not_specified_with_mode(column, test_data)

test_data = clean_categorical_columns(test_data)

# Drop unique columns
for column in test_data.columns:
    if len(test_data[column].unique()) == len(test_data):
        print(f'Dropping unique column: {column}')
        test_data.drop(columns=[column], inplace=True)
    elif len(test_data[column].unique()) == 1:
        print(f'Dropping column with one value: {column}')
        test_data.drop(columns=[column], inplace=True)

test_data.drop(columns=columns_object, inplace=True)
test_data.drop(columns=columns_delete, inplace=True)
#test_data.drop(columns='Beach_Resort', inplace=True)
test_data.info()

--------------------------------
Removing trash data from column: Internet
Internet
0                192
1                112
Not specified    309
dtype: int64
Internet
0                192
1                112
Not specified    309
dtype: int64
--------------------------------
Removing trash data from column: Sauna_Area
Sauna_Area
0                404
1                  8
Not specified    201
dtype: int64
Sauna_Area
0                404
1                  8
Not specified    201
dtype: int64
--------------------------------
Removing trash data from column: Air_Conditioning
Air_Conditioning
0                317
1                 72
Not specified    224
dtype: int64
Air_Conditioning
0                317
1                 72
Not specified    224
dtype: int64
--------------------------------
Removing trash data from column: Independent_Entrance
Independent_Entrance
0                249
Not specified    364
dtype: int64
Independent_Entrance
0                249
Not specified    364
dtype: int64
--------------------------------
Removing trash data from column: Jacuzzi
Jacuzzi
0                309
1                 80
Not specified    224
dtype: int64
Jacuzzi
0                309
1                 80
Not specified    224
dtype: int64
--------------------------------
Removing trash data from column: Service_Bathroom
Service_Bathroom
0                134
1                465
Not specified     14
dtype: int64
Service_Bathroom
0                134
1                465
Not specified     14
dtype: int64
--------------------------------
Removing trash data from column: Cable
Cable
0                175
1                129
Not specified    309
dtype: int64
Cable
0                175
1                129
Not specified    309
dtype: int64
--------------------------------
Removing trash data from column: Service_Room
Service_Room
0                146
1                453
Not specified     14
dtype: int64
Service_Room
0                146
1                453
Not specified     14
dtype: int64
--------------------------------
Removing trash data from column: Internet_Room
Internet_Room
0                408
1                  4
Not specified    201
dtype: int64
Internet_Room
0                408
1                  4
Not specified    201
dtype: int64
--------------------------------
Removing trash data from column: Daycare
Daycare
0                410
1                  2
Not specified    201
dtype: int64
Daycare
0                410
1                  2
Not specified    201
dtype: int64
--------------------------------
Removing trash data from column: Daily_Dining_Room
Daily_Dining_Room
0                208
1                391
Not specified     14
dtype: int64
Daily_Dining_Room
0                208
1                391
Not specified     14
dtype: int64
--------------------------------
Removing trash data from column: Heating
Heating
0                384
1                  5
Not specified    224
dtype: int64
Heating
0                384
1                  5
Not specified    224
dtype: int64
--------------------------------
Removing trash data from column: Pets
Pets
No     23
Si    590
dtype: int64
Pets
No     23
Si    590
dtype: int64
Processing column: Gas_Connection
Gas_Connection
0    289
1     47
dtype: int64
Processing column: Fireplace
Fireplace
0    302
1    122
dtype: int64
Processing column: Entrance_Hall
Entrance_Hall
0    182
1    256
dtype: int64
Processing column: Kitchenette
Kitchenette
0    643
dtype: int64
Processing column: Equipped
Equipped
0    383
1     41
dtype: int64
Processing column: Furnished
Furnished
0    341
1     83
dtype: int64
Processing column: Drainage
Drainage
0    322
1    102
dtype: int64
Processing column: Telephone
Telephone
0    211
1    125
dtype: int64
Processing column: Guest_Bathroom
Guest_Bathroom
0    294
1    349
dtype: int64
Processing column: BBQ_Area
BBQ_Area
0    361
1     77
dtype: int64
Processing column: Living_Room
Living_Room
0    360
1    283
dtype: int64
Processing column: Nearby_Parks
Nearby_Parks
0     57
1    218
dtype: int64
Processing column: Solarium
Solarium
0    436
1      2
dtype: int64
Processing column: Commercial_Use
Commercial_Use
0    37
1    30
dtype: int64
Processing column: Internal_Garden
Internal_Garden
0    437
1    206
dtype: int64
Processing column: Electricity
Electricity
0     79
1    257
dtype: int64
Processing column: Patio
Patio
0    424
1    219
dtype: int64
Processing column: Children_Playground
Children_Playground
0    402
1     36
dtype: int64
Processing column: Green_Areas
Green_Areas
0    337
1    101
dtype: int64
Processing column: Electric_Doorman
Electric_Doorman
0    362
1     62
dtype: int64
Processing column: Intercom
Intercom
0    328
1     96
dtype: int64
Processing column: Near_Sea
Near_Sea
0    239
1     36
dtype: int64
Processing column: Sauna
Sauna
0    409
1     15
dtype: int64
Processing column: Cinema_Room
Cinema_Room
0    434
1      4
dtype: int64
Processing column: Cleaning_Service
Cleaning_Service
0    299
1     37
dtype: int64
Processing column: Terrace
Terrace
0    304
1    339
dtype: int64
Processing column: Sports_Area
Sports_Area
0    383
1     55
dtype: int64
Processing column: Security_System
Security_System
0    251
1     85
dtype: int64
Processing column: Water_Heater
Water_Heater
0    289
1    100
dtype: int64
Processing column: Professional_Use
Professional_Use
0    21
1    37
dtype: int64
Processing column: Club_House
Club_House
0    410
1      2
dtype: int64
Processing column: Internal_Park
Internal_Park
0    396
1     16
dtype: int64
Processing column: Laundry_Room
Laundry_Room
0    225
1    374
dtype: int64
Processing column: Nearby_Schools
Nearby_Schools
0     65
1    184
dtype: int64
Processing column: Balcony
Balcony
0    520
1     79
dtype: int64
Processing column: Attic
Attic
0    579
1     20
dtype: int64
Processing column: Oceanfront
Oceanfront
0    217
1     32
dtype: int64
Processing column: Security_Guard
Security_Guard
0    170
1    134
dtype: int64
Processing column: Swimming_Pool
Swimming_Pool
0    207
1    205
dtype: int64
Processing column: Electric_Fence
Electric_Fence
0    355
1     34
dtype: int64
Processing column: Air_Conditioning
Air_Conditioning
0    317
1     72
dtype: int64
Processing column: Hall
Hall
0    236
1    363
dtype: int64
Processing column: Nearby_Shopping_Centers
Nearby_Shopping_Centers
0     57
1    192
dtype: int64
Processing column: Kitchen
Kitchen
0     37
1    562
dtype: int64
Processing column: Water
Water
0     65
1    239
dtype: int64
Processing column: Basement
Basement
0    578
1     21
dtype: int64
Processing column: Independent_Bathroom

/tmp/ipython-input-2-2643891686.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_set['Location'].fillna('NA', inplace=True)
/tmp/ipython-input-30-4007228366.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna(dataset[column].median(), inplace=True)
/tmp/ipython-input-13-1895079081.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data_set['Bedrooms'].fillna(data_set['Bedrooms'].mode()[0], inplace=True)
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)
/tmp/ipython-input-21-4101652784.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(dataset.groupby(column).size())
/tmp/ipython-input-21-4101652784.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset[column].fillna('NA', inplace=True)

Independent_Bathroom
0    599
dtype: int64
Processing column: Walk_in_Closet
Walk_in_Closet
0    454
1    145
dtype: int64
Processing column: Grill
Grill
0    189
1    200
dtype: int64
Processing column: Closet
Closet
0    560
1     39
dtype: int64
Processing column: Internet
Internet
0    192
1    112
dtype: int64
Processing column: Sauna_Area
Sauna_Area
0    404
1      8
dtype: int64
Processing column: Kitchen_with_Cabinets
Kitchen_with_Cabinets
0    245
1    144
dtype: int64
Processing column: Gym
Gym
0    383
1     29
dtype: int64
Processing column: Handicap_Access
Handicap_Access
0    206
1     43
dtype: int64
Processing column: Dining_Room
Dining_Room
0     60
1    539
dtype: int64
Processing column: Office
Office
0    386
1    213
dtype: int64
Processing column: Service_Bathroom
Service_Bathroom
0    134
1    465
dtype: int64
Processing column: Storage_Room
Storage_Room
0    470
1    129
dtype: int64
Processing column: Cable
Cable
0    175
1    129
dtype: int64
Processing column: Jacuzzi
Jacuzzi
0    309
1     80
dtype: int64
Processing column: Independent_Entrance
Independent_Entrance
0    249
dtype: int64
Processing column: Service_Room
Service_Room
0    146
1    453
dtype: int64
Processing column: Internet_Room
Internet_Room
0    408
1      4
dtype: int64
Processing column: Daycare
Daycare
0    410
1      2
dtype: int64
Processing column: Daily_Dining_Room
Daily_Dining_Room
0    208
1    391
dtype: int64
Processing column: Heating
Heating
0    384
1      5
dtype: int64
Processing column: Match
Match
0.0    613
dtype: int64
Processing column: Pets
Pets
0     23
1    590
dtype: int64
Processing column: Garden
Garden
0     88
1    324
dtype: int64
Processing categorical column: Garage_Type
Processing categorical column: Province
Processing categorical column: Type
Processing categorical column: Location
Processing categorical column: Natural_Light
Processing categorical column: Advertiser
Processing categorical column: Bedrooms
Processing categorical column: Pets
Processing categorical column: Garden
Processing categorical column: Beach_Resort
Processing categorical column: District
Processing categorical column: Property_Condition
Dropping unique column: Id
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 73 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Gas_Connection           336 non-null    category
 1   Fireplace                424 non-null    category
 2   Entrance_Hall            438 non-null    category
 3   Kitchenette              643 non-null    category
 4   Equipped                 424 non-null    category
 5   Garage_Type              397 non-null    category
 6   Furnished                424 non-null    category
 7   Drainage                 424 non-null    category
 8   Guest_Bathroom           643 non-null    category
 9   BBQ_Area                 438 non-null    category
 10  Living_Room              643 non-null    category
 11  Nearby_Parks             275 non-null    category
 12  Solarium                 438 non-null    category
 13  Commercial_Use           67 non-null     category
 14  Province                 657 non-null    category
 15  Internal_Garden          643 non-null    category
 16  Garages                  657 non-null    int64
 17  Electricity              336 non-null    category
 18  Patio                    643 non-null    category
 19  Children_Playground      438 non-null    category
 20  Type                     657 non-null    category
 21  Number_Bathrooms         657 non-null    int64
 22  Green_Areas              438 non-null    category
 23  Electric_Doorman         424 non-null    category
 24  Construction_Area_m2     657 non-null    int64
 25  Intercom                 424 non-null    category
 26  Near_Sea                 275 non-null    category
 27  Sauna                    424 non-null    category
 28  Cinema_Room              438 non-null    category
 29  Terrace                  643 non-null    category
 30  Sports_Area              438 non-null    category
 31  Security_System          336 non-null    category
 32  Water_Heater             389 non-null    category
 33  Professional_Use         58 non-null     category
 34  Internal_Park            412 non-null    category
 35  Laundry_Room             599 non-null    category
 36  Nearby_Schools           249 non-null    category
 37  Balcony                  599 non-null    category
 38  Attic                    599 non-null    category
 39  Oceanfront               249 non-null    category
 40  Security_Guard           304 non-null    category
 41  Natural_Light            222 non-null    category
 42  Swimming_Pool            412 non-null    category
 43  Electric_Fence           389 non-null    category
 44  Hall                     599 non-null    category
 45  Nearby_Shopping_Centers  249 non-null    category
 46  Water                    304 non-null    category
 47  Basement                 599 non-null    category
 48  Independent_Bathroom     599 non-null    category
 49  Walk_in_Closet           599 non-null    category
 50  Age                      657 non-null    float64
 51  Number_Floors            657 non-null    float64
 52  Daily_Dining_Room        599 non-null    category
 53  Grill                    389 non-null    category
 54  Closet                   599 non-null    category
 55  Internet                 304 non-null    category
 56  Sauna_Area               412 non-null    category
 57  Bedrooms                 657 non-null    category
 58  Pets                     613 non-null    category
 59  Kitchen_with_Cabinets    389 non-null    category
 60  Garden                   412 non-null    category
 61  Storage_Room             599 non-null    category
 62  Beach_Resort             67 non-null     category
 63  Cable                    304 non-null    category
 64  Gym                      412 non-null    category
 65  Jacuzzi                  389 non-null    category
 66  Independent_Entrance     249 non-null    category
 67  Dining_Room              599 non-null    category
 68  Total_Area_m2            657 non-null    float64
 69  Heating                  389 non-null    category
 70  District                 613 non-null    category
 71  Daycare                  412 non-null    category
 72  Property_Condition       413 non-null    category
dtypes: category(67), float64(3), int64(3)
memory usage: 86.6 KB

/tmp/ipython-input-24-2360821928.py:7: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('NA', None)
/tmp/ipython-input-24-2360821928.py:8: FutureWarning: The behavior of Series.replace (and DataFrame.replace) with CategoricalDtype is deprecated. In a future version, replace will only be used for cases that preserve the categories. To change the categories, use ser.cat.rename_categories instead.
  dataset[column] = dataset[column].replace('Not specified', None)

In [ ]:
test_data

,Gas_Connection,Fireplace,Entrance_Hall,Kitchenette,Equipped,Garage_Type,Furnished,Drainage,Guest_Bathroom,BBQ_Area,...,Cable,Gym,Jacuzzi,Independent_Entrance,Dining_Room,Total_Area_m2,Heating,District,Daycare,Property_Condition
0,NaN,0,1,0,0,Paralelas,0,0,0,0,...,NaN,0,0,NaN,1,340.0,0,LaMolina,0,NaN
1,NaN,NaN,1,0,NaN,Lineales,NaN,NaN,1,0,...,NaN,0,NaN,NaN,1,1138.0,NaN,LaMolina,0,Bueno
2,NaN,0,0,0,0,Paralelas,0,0,0,0,...,NaN,0,0,NaN,0,1353.0,0,LaMolina,0,Bueno
3,0,1,0,0,0,Paralelas,0,0,0,0,...,0,0,0,NaN,1,230.0,0,SantiagoDeSurco,0,Muy bueno
4,0,NaN,NaN,0,NaN,NaN,NaN,NaN,1,NaN,...,1,NaN,NaN,NaN,1,305.0,NaN,LaMolina,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,NaN,NaN,1,0,NaN,Paralelas,NaN,NaN,0,0,...,NaN,0,NaN,NaN,1,600.0,NaN,LaMolina,0,NaN
653,1,0,1,0,1,Separadas,1,0,1,1,...,1,1,0,0,1,204.0,0,Asia,0,Excelente
654,0,NaN,1,0,NaN,Paralelas,NaN,NaN,1,0,...,0,0,NaN,NaN,1,270.0,NaN,LaMolina,0,NaN
655,0,0,0,0,0,Paralelas,0,0,0,1,...,0,0,0,NaN,1,160.0,0,Asia,0,NaN
656,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,0,NaN,120.0,NaN,Carabayllo,NaN,Bueno

In [ ]:
# Identify categorical and numerical columns
#columns_object =test_data.select_dtypes(include=['object']).columns.tolist()
print(columns_object)
data.select_dtypes(include=['int64', 'float64', 'bool']).columns.tolist()
#test_data.drop(columns=columns_object, inplace=True)

[]

['Garages',
 'Number_Bathrooms',
 'Construction_Area_m2',
 'Age',
 'Number_Floors',
 'Total_Area_m2',
 'Price']

In [ ]:
data.columns

Index(['Gas_Connection', 'Fireplace', 'Entrance_Hall', 'Kitchenette',
       'Equipped', 'Garage_Type', 'Furnished', 'Drainage', 'Guest_Bathroom',
       'BBQ_Area', 'Living_Room', 'Nearby_Parks', 'Solarium', 'Commercial_Use',
       'Province', 'Internal_Garden', 'Garages', 'Electricity', 'Patio',
       'Children_Playground', 'Type', 'Number_Bathrooms', 'Green_Areas',
       'Electric_Doorman', 'Construction_Area_m2', 'Intercom', 'Near_Sea',
       'Sauna', 'Cinema_Room', 'Terrace', 'Sports_Area', 'Security_System',
       'Water_Heater', 'Professional_Use', 'Internal_Park', 'Laundry_Room',
       'Nearby_Schools', 'Balcony', 'Attic', 'Oceanfront', 'Security_Guard',
       'Natural_Light', 'Swimming_Pool', 'Electric_Fence', 'Hall',
       'Nearby_Shopping_Centers', 'Water', 'Basement', 'Independent_Bathroom',
       'Walk_in_Closet', 'Age', 'Number_Floors', 'Daily_Dining_Room', 'Grill',
       'Closet', 'Internet', 'Sauna_Area', 'Bedrooms', 'Pets',
       'Kitchen_with_Cabinets', 'Garden', 'Storage_Room', 'Beach_Resort',
       'Cable', 'Gym', 'Jacuzzi', 'Independent_Entrance', 'Dining_Room',
       'Total_Area_m2', 'Heating', 'District', 'Daycare', 'Property_Condition',
       'Price'],
      dtype='object')

In [ ]:
test_data

,Gas_Connection,Fireplace,Entrance_Hall,Kitchenette,Equipped,Garage_Type,Furnished,Drainage,Guest_Bathroom,BBQ_Area,...,Cable,Gym,Jacuzzi,Independent_Entrance,Dining_Room,Total_Area_m2,Heating,District,Daycare,Property_Condition
0,NaN,0,1,0,0,Paralelas,0,0,0,0,...,NaN,0,0,NaN,1,340.0,0,LaMolina,0,NaN
1,NaN,NaN,1,0,NaN,Lineales,NaN,NaN,1,0,...,NaN,0,NaN,NaN,1,1138.0,NaN,LaMolina,0,Bueno
2,NaN,0,0,0,0,Paralelas,0,0,0,0,...,NaN,0,0,NaN,0,1353.0,0,LaMolina,0,Bueno
3,0,1,0,0,0,Paralelas,0,0,0,0,...,0,0,0,NaN,1,230.0,0,SantiagoDeSurco,0,Muy bueno
4,0,NaN,NaN,0,NaN,NaN,NaN,NaN,1,NaN,...,1,NaN,NaN,NaN,1,305.0,NaN,LaMolina,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
652,NaN,NaN,1,0,NaN,Paralelas,NaN,NaN,0,0,...,NaN,0,NaN,NaN,1,600.0,NaN,LaMolina,0,NaN
653,1,0,1,0,1,Separadas,1,0,1,1,...,1,1,0,0,1,204.0,0,Asia,0,Excelente
654,0,NaN,1,0,NaN,Paralelas,NaN,NaN,1,0,...,0,0,NaN,NaN,1,270.0,NaN,LaMolina,0,NaN
655,0,0,0,0,0,Paralelas,0,0,0,1,...,0,0,0,NaN,1,160.0,0,Asia,0,NaN
656,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,0,NaN,120.0,NaN,Carabayllo,NaN,Bueno

In [ ]:
test_data_processed = preprocessor.transform(test_data)
# Predict prices
predicted_prices = best_model.predict(test_data_processed)
print(predicted_prices)
predicted_prices = np.exp(predicted_prices)  # Inverse log transformation to get actual prices
# Add predictions to test_data
test_data['Predicted_Price'] = predicted_prices.flatten()
test_data[['Predicted_Price']].head()

df = pd.DataFrame(predicted_prices, columns=['Price'])
df.index.name = 'Id'
print(df)
df.to_csv('submission.csv', index=True)

[13.611223  13.981842  14.164186  12.841844  13.343918  12.180581
 13.401308  13.92139   12.116114  13.243544  13.358929  11.879754
 13.3287325 14.137474  14.461741  13.502213  13.161041  13.761162
 13.075783  11.582027  13.381571  12.906412  13.804952  13.352725
 12.862575  14.0459    12.507291  13.717907  13.24307   12.551491
 12.605106  13.465185  13.034573  12.767188  12.668474  14.113707
 14.20915   12.242954  12.969327  12.47066   13.018472  12.243499
 12.82226   11.788592  13.816583  13.534219  13.577533  13.71768
 14.2509775 12.175694  14.165533  11.653478  13.934288  14.369823
 11.90917   12.6496    14.528574  14.053922  12.845125  13.042438
 13.6411495 12.925297  11.945521  14.508862  14.272545  14.167368
 13.437114  14.031452  12.992339  13.344766  14.152919  12.680695
 14.2493105 13.001434  13.199447  11.946218  14.033474  14.545697
 12.31591   11.2815485 14.041228  12.498621  13.144303  13.360877
 12.157699  11.834061  13.941112  11.746571  13.952025  13.483288
 13.430888  11.50505   13.2696085 13.51221   12.729033  14.538581
 14.62711   14.7898    13.389813  13.755706  11.902038  13.4460535
 12.511441  14.19661   13.845506  13.7328    13.301178  14.489432
 13.913218  12.967643  13.742826  13.919919  13.336113  13.92686
 13.997501  13.200138  14.370452  11.936406  13.715717  12.605399
 13.186679  14.137536  12.577085  14.784491  13.954595  13.118293
 12.956016  13.800192  13.049708  13.295794  13.649024  14.13001
 14.202044  13.997222  12.663058  13.245473  12.433446  13.799776
 12.592361  12.770525  14.303231  13.100531  12.716861  12.946271
 12.754582  12.273408  11.481102  14.006061  12.170974  11.480435
 14.376295  13.868904  11.8841095 13.8143    13.939164  12.179004
 12.98      13.882618  13.499951  12.52554   12.696476  13.182197
 13.105846  13.624387  13.598403  13.834679  14.22386   11.865494
 13.233399  13.680105  12.188838  14.649504  13.090548  12.319456
 12.891482  12.808431  13.569323  13.651532  13.113587  12.946732
 14.117787  13.998023  14.437554  12.448004  14.865496  13.891073
 13.405904  13.1528225 14.532975  13.504513  12.119301  13.782208
 12.744601  13.034406  14.249387  12.192336  12.997838  12.114253
 13.102631  13.403792  14.143891  13.070305  13.649562  13.298615
 13.091879  13.929822  14.051874  12.697781  13.647635  13.551935
 13.152145  12.527889  12.400225  11.233768  13.528818  13.399831
 13.965516  12.094567  13.788048  12.370573  13.713754  13.23089
 14.054976  13.6118355 13.919747  13.152718  13.95221   12.89171
 12.453631  13.305864  13.734098  13.453901  13.575383  13.279842
 14.32503   13.041043  14.456347  13.538277  14.665738  14.266399
 13.979774  13.602428  13.6302    13.993116  12.460377  14.17958
 14.353743  13.297472  13.467078  13.065079  13.325327  13.84412
 15.30544   12.115396  13.019245  13.379219  11.474199  13.478409
 13.471194  13.670394  14.293456  13.707739  12.624472  13.8791895
 11.748831  13.418672  13.480264  13.610588  13.435871  13.870017
 11.9932    14.004476  13.113355  13.975611  12.986854  13.73119
 14.36541   13.419336  12.706341  13.863452  13.0806    13.724971
 13.172066  12.466275  14.335068  14.162622  13.776136  12.406565
 13.401843  12.038926  12.547342  13.311752  12.745785  11.760722
 14.116745  13.47837   14.46467   14.183301  14.007319  12.85645
 12.668812  12.748044  14.194472  13.881602  13.390637  13.132881
 12.002537  12.190173  14.407754  12.89928   13.328034  13.9489355
 14.259211  11.889521  14.495656  14.511764  12.743059  12.92073
 12.027835  12.427     13.935277  13.22157   13.727903  13.466005
 12.010811  13.490692  12.325264  14.649327  12.436599  13.549208
 13.847136  12.905895  14.262309  13.80874   14.541831  12.713838
 13.986475  13.353794  10.969562  13.163558  12.261616  13.046249
 13.271729  12.912413  13.105806  12.454896  13.4210005 12.39023
 13.577645  13.333978  13.444477  12.891116  12.451553  14.635629
 15.0276785 13.085406  13.112965  12.583823  12.236249  13.149268
 12.094842  12.39997   12.165615  14.057836  13.362558  12.331451
 12.70157   13.376431  12.763404  12.687851  12.472202  13.50833
 13.973446  13.213861  11.987118  12.349882  14.591046  12.208416
 13.213158  13.442173  12.529641  12.464748  13.593795  13.062155
 13.100786  12.282628  13.998759  13.000665  12.345251  14.154551
 14.083509  13.008551  13.881142  14.087692  11.974128  14.267513
 13.632731  12.200544  12.924328  12.955477  13.7948    12.9522
 13.433445  11.795101  12.095577  12.869122  12.08592   13.724911
 12.1790695 12.588469  13.363133  13.1557865 12.651809  12.177273
 11.877415  14.184658  12.676923  12.264892  13.528606  14.186852
 12.457516  12.640695  12.361604  13.437302  12.638931  12.612414
 14.0703945 12.30717   13.384353  14.84259   13.1566    13.953763
 13.296115  13.686322  13.668383  13.191431  14.265793  13.730755
 11.416155  14.327289  13.606621  14.124444  12.842397  11.785721
 13.052863  12.191603  13.267732  12.974798  12.547381  13.625135
 12.482162  15.1602745 13.486409  13.333819  13.650651  13.10475
 13.119079  13.309663  13.916987  11.727074  12.997376  13.958899
 13.902865  14.165798  13.071115  12.488849  13.307846  13.17357
 11.98963   11.959883  14.726744  13.321717  12.842898  12.815608
 12.372946  13.728645  12.716987  14.339955  12.615117  12.7856045
 13.273215  12.865678  13.820264  13.18222   12.417361  13.673353
 12.509096  12.8520975 14.004517  13.172566  13.416657  13.592426
 13.254631  14.875814  13.474569  14.110002  12.799391  12.460377
 13.979716  12.905743  13.895426  14.196865  12.956972  14.164534
 12.67022   13.070996  13.45683   13.477718  14.086231  12.789445
 12.787536  13.655231  13.47503   13.010308  13.125477  13.783216
 12.900605  13.421041  13.567853  11.862818  14.436251  14.319236
 12.981812  14.127777  13.181106  12.267237  13.394876  13.240197
 15.068298  13.311918  11.95229   13.045783  13.498278  13.653718
 13.261823  14.281388  13.579078  12.4411    13.961002  14.351725
 14.2842655 12.003838  12.71228   14.260733  13.246139  13.608065
 12.661201  12.42478   14.179139  12.734757  13.285604  12.98038
 13.520263  12.770407  12.60943   12.917733  13.04894   12.983968
 12.740732  13.011892  11.945194  13.12878   13.226498  14.148991
 12.486856  13.224791  14.210051  14.416685  13.982047  13.245829
 12.316186  13.369085  11.763304  14.197101  12.728848  13.276885
 13.359682  12.259452  13.593834  13.383572  11.653286  14.047046
 12.98257   11.972059  13.624097  13.8691845 11.776073  12.678542
 13.42908   12.364207  11.755312  12.743862  13.049925  12.442179
 13.295886  11.945765  13.353592  13.143863  13.928267  13.028547
 13.441295  12.250039  13.108451  12.421549  12.610964  12.647351
 13.408944  11.727167  14.064894  11.971917  13.651973  12.403345
 12.922895  13.93802   14.052131  13.21808   13.679671  13.262142
 12.626327  13.145393  14.396223  14.439374  13.135936  13.315926
 14.057415  13.312203  12.374345  14.434087  12.265774  13.146658
 13.877638  13.06131   13.166739  14.133801  12.776637  13.325309
 13.963823  13.996586  12.389289  13.645918  13.652533  12.341096
 13.957632  12.804213  13.948032  13.347067  11.724911  12.408442
 13.590813  13.176304  14.920569  13.219352  13.716155  12.813345
 13.722821  13.351148  11.757223 ]
            Price
Id
0    8.152281e+05
1    1.180964e+06
2    1.417188e+06
3    3.776955e+05
4    6.240076e+05
..            ...
652  9.054208e+05
653  3.670836e+05
654  9.114766e+05
655  6.285354e+05
656  1.276724e+05

[657 rows x 1 columns]